Source: siphon
Section: python
Priority: optional
Maintainer: Morgan Joyce <morganj2k@gmail.com>
Build-Depends:
  debhelper-compat (= 13),
  dh-python,
  python3-setuptools,
  python3-wheel,
  python3-all
Standards-Version: 4.6.0
Homepage: https://docs.siphon-cli.com/
Vcs-Git: https://github.com/atxtechbro/siphon.git
Vcs-Browser: https://github.com/atxtechbro/siphon

Package: siphon
Architecture: all
Depends: ${python3:Depends}, ${misc:Depends}
Description: CLI for siphoning data from multiple sources.