Source: siphon
Section: python
Priority: optional
Maintainer: Morgan Joyce <morganj2k@gmail.com>
Build-Depends:
    debhelper (>= 11),
    dh-python,
    python3-setuptools,
    python3-wheel,
Standards-Version: 4.6.0
Homepage: https://docs.siphon-cli.com/
X-Python3-Version: >= 3.6

Package: siphon
Architecture: all
Depends: python3
Description: CLI for siphoning data from multiple sources.